* {
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: cadetblue;
  color: rgb(161, 79, 79);
  padding: 10px;
  align-items: center;
  text-align: center;
}

.container {
  color: blue;
  background-color: burlywood;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 7vmax;
  box-sizing: border-box;
}

.container h1 {
  align-items: center;
  text-align: center;
  color: cornflowerblue;
  margin: 20px;
  font-size: 2.5rem;
}

.container > form {
  display: flex;
  flex-direction: column;

}

input,textarea,button{
  padding: 20px;
  margin: 8px;
  border: 1px solid rgba(128, 128, 128, 0.993);
  border-radius: 5px;
  font: 1.2rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgb(102, 58, 58);
  color: white;
}

.task {
  display: flex;
  align-items: center;
  margin: 10px ;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.task p {
  color: black;
}
.task span {
  color: rgba(0, 0, 0, 0.568);
}


  /* border: 1px solid red; */


.task > div {
  width: 100%;
}

.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover {
  background-color: rgb(0, 0, 0);
}
